@media screen and (max-width: 760px) {
	aside {
		position: absolute;
		left: -100%;
		top: 0;
		z-index: 1;
		width: 40%;
	}

	header {
		width: 100%;
	}

	main {
		display: block;
		width: 100%;
	}

	.cards-wrapper {
		width: 100%;
		height: initial;
	}

	.column-wrapper {
		width: 100%;
		height: initial;
		padding: 0 10px;
	}

	.menu-icon {
		display: initial;
	}
}
