@import "../base/colors";

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    height: 100%;
    width: 30%;
    min-width: 150px;
    max-width: 200px;
    background: $dark-green;
    color: $beige;
    transition: 0.2s;
}
