@import '../base/colors';

header{
	display: flex;
	float: right;
	width: 70%;
	min-width: calc(100% - 200px);
	padding: 6px 2%;
	background: $beige;
	color: $dark-green;
	vertical-align: top;
	justify-content: space-between;
	align-items: center;
}
