main{
	width: 70%;
	min-width: calc(100% - 200px);
	height:calc(100% - 62px);
    float: right;
}
main > div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
