@import 'scss/base/colors';
.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 6px solid;
    border-color: $dark-green transparent ;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
