@import '../base/fonts';
@import '../base/colors';

.topics{
	padding: 10px;

	&__title{
		@extend .news__title;
	}

	&__container{
		height: calc(100% - 39px);
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		list-style-type: none;
		color: $beige;
		overflow: auto;

	}

	&__single{
		cursor: pointer;
		text-align: center;
		margin-bottom: 10px;
		background: $dark-green;
		width: calc(100%/3.1);
		padding: 5px 10px;
		border-radius: 15px;
	}
}

.topics--feed{
	@extend .topics;
	height: 100%;

	.topics__single{
		width: calc(100%/2.1);
		margin: 10px 0;
	}

	.topics__single:nth-of-type(3n){
		width: 100%;
	}
}